Repository DigitalHerencia/Road.io, changes with the owners that CODEOWNERS names for each.
All owners: @road-io-admins, @feature_architect, @auth_security, @documentation

Update main/src/lib/actions/admin.ts
  main/src/lib/actions/admin.ts
Owners: @road-io-admins

Update main/src/lib/schema.ts
  main/src/lib/schema.ts
Owners: @road-io-admins

Update main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/analytics.ts
Owners: @road-io-admins

Update main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/analytics.ts
Owners: @road-io-admins

Update main/src/features/analytics/components/ProfitMetrics.tsx
  main/src/features/analytics/components/ProfitMetrics.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/lib/fetchers/admin.ts
  main/src/lib/fetchers/admin.ts
Owners: @road-io-admins

Update main/src/lib/fetchers/admin.ts
  main/src/lib/fetchers/admin.ts
Owners: @road-io-admins

Update main/src/features/admin/components/TenantConfigForm.tsx
  main/src/features/admin/components/TenantConfigForm.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/lib/actions/settings.ts
  main/src/lib/actions/settings.ts
Owners: @road-io-admins

Update main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/analytics.ts
Owners: @road-io-admins

Update main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/analytics.ts
Owners: @road-io-admins

feat: add ifta compliance tools
  main/src/features/ifta/README.md
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/actions/ifta.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/ifta.ts
  main/src/lib/schema.ts
  main/src/types/compliance.ts
  main/tests/ifta-compliance.test.ts
Owners: @road-io-admins, @feature_architect

feat: add ifta compliance tools
  main/src/features/ifta/README.md
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/actions/ifta.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/ifta.ts
  main/src/lib/schema.ts
  main/src/types/compliance.ts
  main/tests/ifta-compliance.test.ts
Owners: @road-io-admins, @feature_architect

feat: add vehicle maintenance management
  main/src/features/vehicles/TODO.md
  main/src/features/vehicles/components/MaintenanceForm.tsx
  main/src/features/vehicles/components/VehicleMaintenanceList.tsx
  main/src/lib/actions/__tests__/vehicles.test.ts
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/actions/vehicles.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/vehicles.ts
  main/src/lib/schema.ts
Owners: @road-io-admins, @feature_architect

feat: add driver training and payroll modules
  main/drizzle/0005_training_payroll.sql
  main/src/features/drivers/TODO.md
  main/src/features/drivers/components/DriverTrainingList.tsx
  main/src/features/drivers/components/PayStatementList.tsx
  main/src/features/drivers/components/TrainingProgramForm.tsx
  main/src/lib/actions/compliance.ts
  main/src/lib/actions/payroll.ts
  main/src/lib/actions/training.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/payroll.ts
  main/src/lib/fetchers/training.ts
  main/src/lib/schema.ts
  main/src/types/payroll.ts
  main/src/types/training.ts
  main/tests/drivers/payroll.test.ts
  main/tests/drivers/training.test.ts
Owners: @road-io-admins, @feature_architect

feat: add dispatch analytics
  main/src/features/dispatch/README.md
  main/src/features/dispatch/components/DispatchKPIDashboard.tsx
  main/src/features/dispatch/components/DriverProductivityTable.tsx
  main/src/features/dispatch/components/LoadCompletionReport.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/actions/dispatch.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/dispatch.ts
  main/tests/dispatch/analytics.fetchers.test.ts
Owners: @road-io-admins, @feature_architect

feat: add revenue tracking
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/RevenueMetrics.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/compliance.ts
  main/tests/analytics/revenue-metrics.test.tsx
  main/tests/analytics/revenue.fetchers.test.ts
Owners: @road-io-admins, @feature_architect

Update main/src/lib/fetchers/vehicles.ts
  main/src/lib/fetchers/vehicles.ts
Owners: @road-io-admins

Update main/src/features/vehicles/components/VehicleMaintenanceList.tsx
  main/src/features/vehicles/components/VehicleMaintenanceList.tsx
Owners: @road-io-admins, @feature_architect

feat: add safety analytics
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/SafetyMetrics.tsx
  main/src/lib/actions/__tests__/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/compliance.ts
  main/tests/analytics/safety-metrics.test.tsx
  main/tests/analytics/safety.fetchers.test.ts
Owners: @road-io-admins, @feature_architect

feat: add admin dashboard
  main/src/app/dashboard/admin/layout.tsx
  main/src/app/dashboard/admin/page.tsx
  main/src/app/dashboard/admin/users/page.tsx
  main/src/features/admin/README.md
  main/src/features/admin/components/AdminNav.tsx
  main/src/features/admin/components/OverviewCards.tsx
  main/src/features/admin/components/RecentActivity.tsx
  main/src/features/admin/components/SystemMetricsPanel.tsx
  main/src/lib/actions/admin.ts
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/admin.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/users.ts
  main/tests/admin/dashboard.test.ts
Owners: @road-io-admins, @feature_architect

Update page.tsx
  main/src/app/analytics/page.tsx
Owners: @road-io-admins

Update compliance.test.ts
  main/src/lib/actions/__tests__/compliance.test.ts
Owners: @road-io-admins

Update compliance.ts
  main/src/lib/actions/compliance.ts
Owners: @road-io-admins

Update compliance.ts
  main/src/lib/fetchers/compliance.ts
Owners: @road-io-admins

Update main/src/features/admin/components/SystemMetricsPanel.tsx
  main/src/features/admin/components/SystemMetricsPanel.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/features/analytics/components/SafetyMetrics.tsx
  main/src/features/analytics/components/SafetyMetrics.tsx
Owners: @road-io-admins, @feature_architect

Update main/tests/analytics/safety.fetchers.test.ts
  main/tests/analytics/safety.fetchers.test.ts
Owners: @road-io-admins

feat: add integration management
  main/src/app/dashboard/settings/integrations/page.tsx
  main/src/app/dashboard/settings/notifications/page.tsx
  main/src/app/dashboard/settings/page.tsx
  main/src/features/settings/IntegrationConfigForm.tsx
  main/src/features/settings/NotificationSettingsForm.tsx
  main/src/lib/actions/__tests__/settings.test.ts
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/actions/settings.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/settings.ts
  main/src/types/settings.ts
Owners: @road-io-admins, @feature_architect

666
  main/src/app/dashboard/loads/[id]/page.tsx
  main/src/features/admin/components/OverviewCards.tsx
  main/src/features/admin/components/RoleList.tsx
  main/src/features/admin/components/TenantConfigForm.tsx
  main/src/features/admin/components/UserForm.tsx
  main/src/features/compliance/AccidentList.tsx
  main/src/features/compliance/DriverQualificationList.tsx
  main/src/features/compliance/VehicleInspectionList.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/features/dispatch/components/LoadBoard.tsx
  main/src/features/dispatch/components/LoadForm.tsx
  main/src/features/drivers/components/DriverStatusForm.tsx
  main/src/features/drivers/components/HosLogForm.tsx
  main/src/features/vehicles/components/MaintenanceForm.tsx
  main/src/features/vehicles/components/VehicleAssignmentHistory.tsx
  main/src/lib/actions/__tests__/assignments.test.ts
  main/src/lib/actions/assignments.ts
  main/src/lib/actions/ifta.ts
  main/src/lib/actions/loads.ts
  main/src/lib/actions/payroll.ts
  main/src/lib/actions/settings.ts
  main/src/lib/actions/training.ts
  main/src/lib/actions/users.ts
  main/src/lib/actions/vehicles.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/admin.ts
  main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/fetchers/loads.ts
  main/src/lib/fetchers/users.ts
  main/src/lib/fetchers/vehicles.ts
  main/src/lib/rbac.ts
  main/src/lib/schema.ts
  main/src/types/rbac.ts
  main/src/types/users.ts
  main/tests/analytics/live-status-clean.test.ts
  main/tests/analytics/live-status.test.ts
  main/tests/analytics/profit-metrics.test.tsx
  main/tests/test-utils/db-mocks.ts
Owners: @road-io-admins, @feature_architect, @auth_security

[admin] refactor(core): optimize bulk update query (wave-1) (#138)
  main/src/lib/actions/admin.ts
  main/tests/admin/bulkUpdateUsersAction.test.ts
Owners: @road-io-admins

docs: update architecture docs
  AGENTS.md
  Features.md
  README.md
  main/README.md
  wiki/Home.md
Owners: @road-io-admins

[admin] test(core): add unit tests and fix lint (wave-1) (#140)
  main/package-lock.json
  main/package.json
  main/src/lib/actions/__tests__/settings.test.ts
  main/src/lib/actions/assignments.ts
  main/src/lib/actions/ifta.ts
  main/src/lib/actions/training.ts
  main/src/lib/fetchers/users.ts
  main/src/lib/fetchers/vehicles.ts
  main/src/lib/rbac.ts
  main/tests/admin/getUsers.test.ts
  main/tests/components/AuthSection.test.tsx
  main/tests/db-utils.test.ts
  main/tests/drivers/training.test.ts
  main/tests/ifta-fuel.test.ts
  main/tests/preferences/preferences.test.ts
  main/tests/rbac.requirePermission.test.ts
  main/tests/settings/systemConfig.test.ts
  main/vitest.config.ts
Owners: @road-io-admins, @auth_security

[settings] fix(mvp): add roles import and rbac tests (wave-1) (#137)
  main/src/lib/rbac.ts
  main/tests/rbac.test.ts
Owners: @auth_security, @road-io-admins

[admin] enhancement(core): enforce Zod validation (wave-1) (#141)
  main/src/app/api/protected/route.ts
  main/src/app/api/test-db/route.ts
  main/src/lib/actions/analytics.ts
  main/src/lib/actions/dispatch.ts
  main/src/lib/actions/fleet.ts
  main/src/lib/actions/loads.ts
  main/tests/analytics/actions.test.ts
  main/tests/dispatch/actions.test.ts
Owners: @road-io-admins

CODEOWNERS:

# CODEOWNERS for Road.io

# Top-level ownership
*       @road-io-admins

# Feature modules
/main/src/features/admin/         @road-io-admins @feature_architect
/main/src/features/analytics/     @road-io-admins @feature_architect
/main/src/features/compliance/    @road-io-admins @feature_architect
/main/src/features/dispatch/      @road-io-admins @feature_architect
/main/src/features/drivers/       @road-io-admins @feature_architect
/main/src/features/ifta/          @road-io-admins @feature_architect
/main/src/features/settings/      @road-io-admins @feature_architect
/main/src/features/vehicles/      @road-io-admins @feature_architect

# Auth & Security
/main/src/app/api/user/           @auth_security
/main/src/app/api/users/          @auth_security
/main/src/app/api/webhooks/       @auth_security
/main/src/lib/rbac.ts             @auth_security

# Documentation & Review
/agents/                          @documentation
