Repository DigitalHerencia/Road.io, changes with the owners that CODEOWNERS names for each.
All owners: @road-io-admins, @feature_architect, @auth_security, @documentation

CODEOWNERS:

# CODEOWNERS for Road.io

# Top-level ownership
*       @road-io-admins

# Feature modules
/main/src/features/admin/         @road-io-admins @feature_architect
/main/src/features/analytics/     @road-io-admins @feature_architect
/main/src/features/compliance/    @road-io-admins @feature_architect
/main/src/features/dispatch/      @road-io-admins @feature_architect
/main/src/features/drivers/       @road-io-admins @feature_architect
/main/src/features/ifta/          @road-io-admins @feature_architect
/main/src/features/settings/      @road-io-admins @feature_architect
/main/src/features/vehicles/      @road-io-admins @feature_architect

# Auth & Security
/main/src/app/api/user/           @auth_security
/main/src/app/api/users/          @auth_security
/main/src/app/api/webhooks/       @auth_security
/main/src/lib/rbac.ts             @auth_security

# Documentation & Review
/agents/                          @documentation

Update main/src/lib/actions/users.ts
  main/src/lib/actions/users.ts
Owners: @road-io-admins

Update main/src/lib/actions/users.ts
  main/src/lib/actions/users.ts
Owners: @road-io-admins

chore: stage all changes in preparation for next Codex PR wave
  .vscode/settings.json
  main/package-lock.json
  main/package.json
  main/src/app/analytics/page.tsx
  main/src/app/dashboard/ifta/trips/page.tsx
  main/src/features/compliance/upload-documents.tsx
  main/src/features/drivers/components/DriverForm.tsx
  main/src/features/vehicles/VehicleForm.tsx
  main/src/lib/actions/admin.ts
  main/src/lib/actions/settings.ts
  main/src/lib/actions/vehicles.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/settings.ts
  main/tests/analytics/dashboard.test.tsx
  main/tests/utils.test.ts
  main/tsconfig.json
Owners: @road-io-admins, @feature_architect

666
  main/postcss.config.mjs
Owners: @road-io-admins

feat: add document expiration alerts
  main/src/features/compliance/README.md
  main/src/features/compliance/TODO.md
  main/src/features/compliance/upload-documents.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/schema.ts
Owners: @road-io-admins, @feature_architect

feat: add system config management
  main/src/features/settings/SystemConfigForm.tsx
  main/src/features/settings/TODO.md
  main/src/lib/actions/settings.ts
  main/src/lib/fetchers/settings.ts
  main/src/types/settings.ts
  main/tests/settings/systemConfig.test.ts
Owners: @road-io-admins, @feature_architect

Update main/src/lib/actions/compliance.ts
  main/src/lib/actions/compliance.ts
Owners: @road-io-admins

feat: add ifta report generation
  main/package-lock.json
  main/package.json
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/features/ifta/TODO.md
  main/src/lib/actions/assignments.ts
  main/src/lib/actions/ifta.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/ifta.ts
  main/src/lib/fetchers/settings.ts
  main/src/lib/fetchers/users.ts
  main/src/lib/rbac.ts
  main/src/lib/schema.ts
  main/src/types/pdfkit.d.ts
  main/src/types/rbac.ts
  main/tests/ifta-report.test.ts
Owners: @road-io-admins, @feature_architect, @auth_security

feat: add driver availability tracking
  main/drizzle/0004_driver_status.sql
  main/src/app/drivers/[id]/page.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/features/drivers/components/DriverAssignments.tsx
  main/src/features/drivers/components/DriverStatusForm.tsx
  main/src/features/drivers/components/DriverSummary.tsx
  main/src/lib/actions/__tests__/drivers.test.ts
  main/src/lib/actions/drivers.ts
  main/src/lib/fetchers/drivers.ts
  main/src/lib/fetchers/users.ts
  main/src/lib/schema.ts
  main/src/types/drivers.ts
  wiki/Features.md
Owners: @road-io-admins, @feature_architect

Update main/src/types/drivers.ts
  main/src/types/drivers.ts
Owners: @road-io-admins

Update main/src/lib/schema.ts
  main/src/lib/schema.ts
Owners: @road-io-admins

Update main/src/lib/rbac.ts
  main/src/lib/rbac.ts
Owners: @auth_security

Update main/src/lib/actions/ifta.ts
  main/src/lib/actions/ifta.ts
Owners: @road-io-admins

Update main/src/types/rbac.ts
  main/src/types/rbac.ts
Owners: @road-io-admins

Update main/src/lib/schema.ts
  main/src/lib/schema.ts
Owners: @road-io-admins

feat: dispatch dashboard
  Features.md
  main/package-lock.json
  main/src/app/dashboard/dispatch/page.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/features/dispatch/components/LoadBoard.tsx
  main/src/lib/actions/__tests__/exportLoads.test.ts
  main/src/lib/actions/loads.ts
  main/src/lib/fetchers/loads.ts
  main/src/lib/fetchers/users.ts
  main/tests/dispatch/fetchers.test.ts
Owners: @road-io-admins, @feature_architect

feat: add admin role management
  main/src/app/dashboard/admin/roles/[id]/edit/page.tsx
  main/src/app/dashboard/admin/roles/page.tsx
  main/src/app/dashboard/admin/users/[id]/edit/page.tsx
  main/src/features/admin/README.md
  main/src/features/admin/components/RoleForm.tsx
  main/src/features/admin/components/RoleList.tsx
  main/src/features/admin/components/UserForm.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/lib/actions/roles.ts
  main/src/lib/actions/users.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/roles.ts
  main/src/lib/fetchers/users.ts
  main/src/lib/rbac.ts
  main/src/lib/schema.ts
  main/src/types/roles.ts
  main/src/types/users.ts
  main/tests/roles.fetchers.test.ts
Owners: @road-io-admins, @feature_architect, @auth_security

feat: add live fleet dashboard
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/LiveFleetDashboard.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/lib/actions/analytics.ts
  main/src/lib/fetchers/analytics.ts
  main/src/lib/fetchers/users.ts
  main/tests/analytics/live-dashboard.test.tsx
  main/tests/analytics/live-status.test.ts
Owners: @road-io-admins, @feature_architect

Update main/src/lib/fetchers/loads.ts
  main/src/lib/fetchers/loads.ts
Owners: @road-io-admins

Update main/src/app/dashboard/dispatch/page.tsx
  main/src/app/dashboard/dispatch/page.tsx
Owners: @road-io-admins

Update main/src/features/analytics/components/LiveFleetDashboard.tsx
  main/src/features/analytics/components/LiveFleetDashboard.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/features/analytics/components/LiveFleetDashboard.tsx
  main/src/features/analytics/components/LiveFleetDashboard.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/features/admin/components/UserForm.tsx
  main/src/features/admin/components/UserForm.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/features/admin/components/RoleList.tsx
  main/src/features/admin/components/RoleList.tsx
Owners: @road-io-admins, @feature_architect

feat: add vehicle availability tracking
  main/src/app/dashboard/vehicles/availability/page.tsx
  main/src/app/dashboard/vehicles/page.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/features/vehicles/components/VehicleAssignmentHistory.tsx
  main/src/features/vehicles/components/VehicleAvailabilityList.tsx
  main/src/lib/actions/assignments.ts
  main/src/lib/fetchers/users.ts
  main/src/lib/fetchers/vehicles.ts
  main/tests/vehicles/availability.test.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/features/vehicles/components/VehicleAvailabilityList.tsx
  main/src/features/vehicles/components/VehicleAvailabilityList.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/features/vehicles/components/VehicleAvailabilityList.tsx
  main/src/features/vehicles/components/VehicleAvailabilityList.tsx
Owners: @road-io-admins, @feature_architect

Update main/src/lib/fetchers/vehicles.ts
  main/src/lib/fetchers/vehicles.ts
Owners: @road-io-admins

Update main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
Owners: @road-io-admins, @feature_architect

666
  main/src/features/admin/TODO.md
  main/src/features/analytics/TODO.md
  main/src/features/compliance/TODO.md
  main/src/features/dispatch/TODO.md
  main/src/features/drivers/TODO.md
  main/src/features/ifta/TODO.md
  main/src/features/settings/TODO.md
  main/src/features/vehicles/TODO.md
Owners: @road-io-admins, @feature_architect

test: cover analytics actions
  main/src/features/analytics/components/LiveFleetDashboard.tsx
  main/tests/analytics/actions.test.ts
  main/tests/analytics/live-status.test.ts
Owners: @road-io-admins, @feature_architect

Update main/tests/analytics/live-status.test.ts
  main/tests/analytics/live-status.test.ts
Owners: @road-io-admins

feat: user settings management
  main/src/app/dashboard/settings/page.tsx
  main/src/app/dashboard/settings/roles/[id]/edit/page.tsx
  main/src/app/dashboard/settings/roles/page.tsx
  main/src/app/dashboard/settings/users/[id]/edit/page.tsx
  main/src/app/dashboard/settings/users/page.tsx
  main/src/features/admin/components/RoleList.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/lib/actions/admin.ts
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/tests/admin.acceptInvitation.test.ts
Owners: @road-io-admins, @feature_architect

feat: add DOT compliance tools
  main/src/features/compliance/AccidentList.tsx
  main/src/features/compliance/DriverQualificationList.tsx
  main/src/features/compliance/README.md
  main/src/features/compliance/SmsSummary.tsx
  main/src/features/compliance/VehicleInspectionList.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/compliance.ts
  main/src/lib/schema.ts
  main/src/types/compliance.ts
Owners: @road-io-admins, @feature_architect

feat: add compliance renewal dashboard
  main/src/features/compliance/README.md
  main/src/features/compliance/compliance-dashboard.tsx
  main/src/features/compliance/renewal-list.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/compliance.ts
  main/src/types/compliance.ts
Owners: @road-io-admins, @feature_architect

feat: add profit margin analytics
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/ProfitMetrics.tsx
  main/src/lib/fetchers/analytics.ts
  main/tests/analytics/profit-metrics.test.tsx
  main/tests/analytics/profit.fetchers.test.ts
Owners: @road-io-admins, @feature_architect

feat: add tenant admin tools
  main/src/app/dashboard/admin/tenant/page.tsx
  main/src/features/admin/README.md
  main/src/features/admin/components/TenantConfigForm.tsx
  main/src/features/admin/components/TenantIsolationCheck.tsx
  main/src/features/admin/components/TenantMetrics.tsx
  main/src/lib/actions/admin.ts
  main/src/lib/fetchers/admin.ts
  main/src/types/admin.ts
  main/tests/admin/tenant.test.ts
Owners: @road-io-admins, @feature_architect

feat: add admin company profile
  main/src/app/dashboard/admin/company/page.tsx
  main/src/features/admin/README.md
  main/src/features/admin/TODO.md
  main/src/features/admin/components/CompanyProfileForm.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/lib/actions/settings.ts
  main/src/types/settings.ts
  main/tests/settings/companyProfile.test.ts
Owners: @road-io-admins, @feature_architect

feat: add cost analysis
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/CostAnalysis.tsx
  main/src/lib/fetchers/analytics.ts
  main/src/lib/schema.ts
  main/tests/analytics/cost-analysis.test.tsx
  main/tests/analytics/cost.test.ts
Owners: @road-io-admins, @feature_architect

feat: add profit margin analytics
  main/src/app/analytics/page.tsx
  main/src/features/admin/components/RoleList.tsx
  main/src/features/analytics/components/ProfitMetrics.tsx
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/analytics.ts
  main/tests/analytics/profit-metrics.test.tsx
  main/tests/analytics/profit.test.ts
Owners: @road-io-admins, @feature_architect
