Repository DigitalHerencia/Road.io, changes with the owners that CODEOWNERS names for each.
All owners: @road-io-admins, @feature_architect, @auth_security, @documentation

wtf
  .gitignore
  LICENSE
Owners: @road-io-admins

Create README.md
  README.md
Owners: @road-io-admins

666
  wiki/Development-Standards.md
  wiki/Feature-Architecture.md
  wiki/Features.md
  wiki/Home.md
  wiki/Official-Docs.md
  wiki/Tasks/admin-issue-01.md
  wiki/Tasks/analytics-issue-01.md
  wiki/Tasks/compliance-issue-01.md
  wiki/Tasks/dispatch-issue-01.md
  wiki/Tasks/drivers-issue-01.md
  wiki/Tasks/ifta-issue-01.md
  wiki/Tasks/settings-issue-01.md
  wiki/Tasks/vehicles-issue-01.md
  wiki/Troubleshooting.md
Owners: @road-io-admins

docs: add typecheck and test scripts
  README.md
  main/README.md
Owners: @road-io-admins

docs: add commit message guidelines
  CONTRIBUTING.md
Owners: @road-io-admins

docs: add env example
  .gitignore
  README.md
  main/.env.example
  main/.gitignore
  main/README.md
Owners: @road-io-admins

docs: add env example
  .gitignore
  README.md
  main/.env.example
  main/.gitignore
  main/README.md
Owners: @road-io-admins

fix: change vehicle year to integer
  README.md
  main/README.md
  main/drizzle/0002_useful_patriot.sql
  main/drizzle/meta/0002_snapshot.json
  main/drizzle/meta/_journal.json
  main/src/lib/schema.ts
Owners: @road-io-admins

ci: add workflow and update docs
  .github/workflows/ci.yml
  CONTRIBUTING.md
  main/package-lock.json
  main/package.json
  main/src/__tests__/sanity.test.ts
Owners: @road-io-admins

test: add vitest setup
  main/README.md
  main/package-lock.json
  main/package.json
  main/tests/lib/rbac.test.ts
  main/vitest.config.ts
Owners: @road-io-admins

feat: add IFTA trip tracking
  Features.md
  main/src/app/dashboard/ifta/trips/page.tsx
  main/src/lib/actions/ifta.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/ifta.ts
  main/src/lib/schema.ts
  main/src/types/rbac.ts
Owners: @road-io-admins

feat: add compliance document uploads
  AGENTS.md
  main/package.json
  main/src/features/compliance/TODO.md
  main/src/features/compliance/upload-documents.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/types/rbac.ts
  main/vitest.config.ts
Owners: @road-io-admins, @feature_architect

feat: add compliance document uploads
  AGENTS.md
  main/package.json
  main/src/features/compliance/TODO.md
  main/src/features/compliance/upload-documents.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/types/rbac.ts
  main/vitest.config.ts
Owners: @road-io-admins, @feature_architect

feat: vehicle registration module
  main/drizzle/0002_polite_veda.sql
  main/drizzle/meta/0002_snapshot.json
  main/drizzle/meta/_journal.json
  main/package-lock.json
  main/package.json
  main/src/app/dashboard/vehicles/[id]/edit/page.tsx
  main/src/app/dashboard/vehicles/new/page.tsx
  main/src/app/dashboard/vehicles/page.tsx
  main/src/features/vehicles/TODO.md
  main/src/features/vehicles/VehicleForm.tsx
  main/src/lib/actions/__tests__/vehicles.test.ts
  main/src/lib/actions/vehicles.ts
  main/src/lib/fetchers/vehicles.ts
  main/src/lib/schema.ts
  main/vitest.config.ts
  main/vitest.setup.ts
Owners: @road-io-admins, @feature_architect

test: add rbac utility tests
  main/package-lock.json
  main/package.json
  main/tests/rbac.test.ts
  main/vitest.config.ts
Owners: @road-io-admins

chore: add typecheck script
  README.md
  main/README.md
  main/package.json
Owners: @road-io-admins

feat: add fleet utilization metrics
  main/package-lock.json
  main/package.json
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/FleetUtilization.tsx
  main/src/lib/fetchers/analytics.ts
  main/tests/analytics/dashboard.test.tsx
  main/tests/analytics/utilization.test.ts
  main/vitest.config.ts
Owners: @road-io-admins, @feature_architect

feat: add fleet utilization metrics
  main/package-lock.json
  main/package.json
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/FleetUtilization.tsx
  main/src/lib/fetchers/analytics.ts
  main/tests/analytics/dashboard.test.tsx
  main/tests/analytics/utilization.test.ts
  main/vitest.config.ts
Owners: @road-io-admins, @feature_architect

feat: add admin user invitation
  main/README.md
  main/package-lock.json
  main/package.json
  main/postcss.config.mjs
  main/src/app/api/webhooks/clerk/route.ts
  main/src/app/dashboard/admin/users/page.tsx
  main/src/features/admin/README.md
  main/src/features/admin/components/InviteUserForm.tsx
  main/src/lib/actions/admin.ts
  main/src/lib/audit.ts
  main/src/lib/email.ts
  main/src/lib/schema.ts
  main/src/lib/utils.ts
  main/test/utils.test.ts
  main/vitest.config.ts
Owners: @road-io-admins, @auth_security, @feature_architect

feat: add company profile management
  README.md
  main/src/app/dashboard/settings/page.tsx
  main/src/features/settings/CompanyProfileForm.tsx
  main/src/features/settings/TODO.md
  main/src/lib/actions/settings.ts
  main/src/lib/fetchers/settings.ts
  main/src/types/settings.ts
  wiki/Tasks/settings-issue-01.md
Owners: @road-io-admins, @feature_architect

feat: add company profile management
  README.md
  main/src/app/dashboard/settings/page.tsx
  main/src/features/settings/CompanyProfileForm.tsx
  main/src/features/settings/TODO.md
  main/src/lib/actions/settings.ts
  main/src/lib/fetchers/settings.ts
  main/src/types/settings.ts
  wiki/Tasks/settings-issue-01.md
Owners: @road-io-admins, @feature_architect

feat: add driver profile management
  main/src/app/drivers/[id]/edit/page.tsx
  main/src/app/drivers/[id]/page.tsx
  main/src/app/drivers/new/page.tsx
  main/src/app/drivers/page.tsx
  main/src/features/drivers/components/DriverForm.tsx
  main/src/features/drivers/components/DriverSummary.tsx
  main/src/lib/actions/drivers.ts
  main/src/lib/fetchers/drivers.ts
  main/src/types/drivers.ts
  wiki/Features.md
Owners: @road-io-admins, @feature_architect

feat: add vehicle tests and validation
  Features.md
  main/package-lock.json
  main/package.json
  main/src/features/vehicles/TODO.md
  main/src/lib/actions/__tests__/fleet.test.ts
  main/src/lib/actions/fleet.ts
  main/src/lib/validation/vehicle.ts
  main/vitest.config.ts
Owners: @road-io-admins, @feature_architect

feat: add load management and document uploads
  main/src/app/dashboard/loads/[id]/edit/page.tsx
  main/src/app/dashboard/loads/[id]/page.tsx
  main/src/app/dashboard/loads/new/page.tsx
  main/src/app/dashboard/loads/page.tsx
  main/src/features/dispatch/components/LoadForm.tsx
  main/src/features/dispatch/components/LoadSummary.tsx
  main/src/lib/actions/__tests__/loads.test.ts
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/loads.ts
  main/src/lib/fetchers/loads.ts
  main/src/lib/validation/load.ts
  main/src/types/loads.ts
  wiki/Tasks/compliance-issue-01.md
  wiki/Tasks/dispatch-issue-01.md
Owners: @road-io-admins, @feature_architect

feat: add operational kpi analytics
  main/src/app/analytics/page.tsx
  main/src/features/analytics/components/OperationalKPIs.tsx
  main/src/lib/fetchers/analytics.ts
  main/tests/analytics/operational-kpis.test.ts
  main/tests/analytics/operational.test.ts
Owners: @road-io-admins, @feature_architect

feat: add HOS management
  main/src/features/drivers/HOS.md
  main/src/features/drivers/components/HosLogForm.tsx
  main/src/lib/actions/__tests__/hos.test.ts
  main/src/lib/actions/hos.ts
  main/src/lib/audit.ts
  main/src/lib/schema.ts
  main/src/types/hos.ts
Owners: @road-io-admins, @feature_architect

Update main/src/lib/schema.ts
  main/src/lib/schema.ts
Owners: @road-io-admins

Update main/src/lib/actions/hos.ts
  main/src/lib/actions/hos.ts
Owners: @road-io-admins

feat: add fleet dashboard and vehicle list
  main/drizzle/0003_fleet_overview.sql
  main/drizzle/meta/0003_snapshot.json
  main/drizzle/meta/_journal.json
  main/src/app/dashboard/vehicles/page.tsx
  main/src/features/vehicles/VehicleForm.tsx
  main/src/features/vehicles/components/FleetDashboard.tsx
  main/src/features/vehicles/components/VehicleList.tsx
  main/src/lib/actions/vehicles.ts
  main/src/lib/fetchers/vehicles.ts
  main/src/lib/schema.ts
  main/src/types/vehicles.ts
  main/tests/vehicles/dashboard.test.tsx
  main/tests/vehicles/fetchers.test.ts
Owners: @road-io-admins, @feature_architect

Update main/src/lib/actions/vehicles.ts
  main/src/lib/actions/vehicles.ts
Owners: @road-io-admins

Update main/src/features/vehicles/components/FleetDashboard.tsx
  main/src/features/vehicles/components/FleetDashboard.tsx
Owners: @road-io-admins, @feature_architect

feat: add user preferences management
  main/src/features/settings/UserPreferencesForm.tsx
  main/src/lib/actions/settings.ts
  main/src/lib/fetchers/settings.ts
  main/src/lib/schema.ts
  main/src/types/settings.ts
  main/tests/preferences/preferences.test.ts
Owners: @road-io-admins, @feature_architect

Update main/src/lib/schema.ts
  main/src/lib/schema.ts
Owners: @road-io-admins

Update main/src/lib/fetchers/settings.ts
  main/src/lib/fetchers/settings.ts
Owners: @road-io-admins

feat: add fuel purchase management
  main/src/app/dashboard/ifta/fuel/page.tsx
  main/src/features/ifta/FuelCardImportForm.tsx
  main/src/features/ifta/FuelPurchaseForm.tsx
  main/src/lib/actions/ifta.ts
  main/src/lib/audit.ts
  main/src/lib/fetchers/ifta.ts
  main/src/lib/schema.ts
  main/src/types/fuel.ts
  main/src/types/rbac.ts
  main/tests/ifta-fuel.test.ts
Owners: @road-io-admins, @feature_architect

feat: add assignment management
  main/src/app/dashboard/loads/[id]/page.tsx
  main/src/features/dispatch/TODO.md
  main/src/features/dispatch/components/AssignmentHistory.tsx
  main/src/features/dispatch/components/LoadAssignmentForm.tsx
  main/src/lib/actions/__tests__/assignments.test.ts
  main/src/lib/actions/assignments.ts
  main/src/lib/fetchers/assignments.ts
Owners: @road-io-admins, @feature_architect

feat: compliance document search
  Features.md
  main/src/features/compliance/search-documents.tsx
  main/src/features/compliance/upload-documents.tsx
  main/src/lib/actions/compliance.test.ts
  main/src/lib/actions/compliance.ts
  main/src/lib/fetchers/compliance.ts
  main/src/types/compliance.ts
  wiki/Features.md
  wiki/Tasks/compliance-issue-01.md
Owners: @road-io-admins, @feature_architect

feat: admin user profiles
  main/src/app/dashboard/admin/users/[id]/edit/page.tsx
  main/src/app/dashboard/admin/users/page.tsx
  main/src/features/admin/README.md
  main/src/features/admin/components/UserForm.tsx
  main/src/features/admin/components/UserList.tsx
  main/src/lib/actions/__tests__/users.test.ts
  main/src/lib/actions/users.ts
  main/src/lib/fetchers/users.ts
  main/src/lib/rbac.ts
  main/src/lib/schema.ts
  main/src/types/rbac.ts
  main/src/types/users.ts
Owners: @road-io-admins, @feature_architect, @auth_security

Update main/src/lib/fetchers/assignments.ts
  main/src/lib/fetchers/assignments.ts
Owners: @road-io-admins

Update main/src/lib/actions/compliance.ts
  main/src/lib/actions/compliance.ts
Owners: @road-io-admins

CODEOWNERS:

# CODEOWNERS for Road.io

# Top-level ownership
*       @road-io-admins

# Feature modules
/main/src/features/admin/         @road-io-admins @feature_architect
/main/src/features/analytics/     @road-io-admins @feature_architect
/main/src/features/compliance/    @road-io-admins @feature_architect
/main/src/features/dispatch/      @road-io-admins @feature_architect
/main/src/features/drivers/       @road-io-admins @feature_architect
/main/src/features/ifta/          @road-io-admins @feature_architect
/main/src/features/settings/      @road-io-admins @feature_architect
/main/src/features/vehicles/      @road-io-admins @feature_architect

# Auth & Security
/main/src/app/api/user/           @auth_security
/main/src/app/api/users/          @auth_security
/main/src/app/api/webhooks/       @auth_security
/main/src/lib/rbac.ts             @auth_security

# Documentation & Review
/agents/                          @documentation
